<div class=" d-flex justify-content-center align-items-center min-vh-100">
  <div class=" container-md px-md-5 ">
    <div class="my-4 text-center pb-5 ">
      <h2 class="fw-bolder h2-style">contact section</h2>
      <div class="d-flex justify-content-center align-items-center gap-2 my-2">
        <div class="d-inline bg-black rounded-3 line"></div>
        <fa-icon [icon]="faStar"></fa-icon>
        <div class="line d-inline bg-black rounded-3"></div>
      </div>
    </div>
    <form>
      <input type="text" class="form-control mb-3 border-0 border-bottom box shadow-none" placeholder="userName" required>
      <input type='number' class="form-control mb-3 border-0 border-bottom shadow-none" placeholder="userAge">
      <input type="email" class="form-control mb-3 border-0 border-bottom shadow-none" placeholder="userEmail" name="">
      <input type="password" class="form-control mb-3 border-0 border-bottom shadow-none" placeholder="userPassword" name="">
      <button class="btn btn-primary me-0" type="submit">send Message</button>
    </form>
  </div>
</div>


