<div class="bg-body-tertiary min-vh-100 position-relative">
  <div class="container mt-5 pt-4">
    <div class="row mt-5">
      @for (product of products; track product.id) {
        <div class="col-12 col-md-6 col-lg-4 mb-4 ">
          <div class="position-relative">
            <div class="card h-100 ">
              <img [src]="product.imgUrl" class="card-img-top" alt="">
            </div>
            <div
              class="rounded-2 position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center  text-white layerBg"
              (click)="showProduct(product.imgUrl)">
              <fa-icon [icon]="faPlus" class="fa-6x"></fa-icon>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  <div
    class="position-fixed bottom-0 w-100 h-100 d-flex align-items-center justify-content-center bg-info bg-opacity-25 z-3"
    [class.display-product]="displayProduct"
    (click)="hideProduct()">
    <img [src]="productUrl" alt="" class="rounded-2 shadow-lg img-product">
  </div>
</div>
