<div class="d-flex justify-content-center align-items-center min-vh-100 site-bg">
  <div class="text-white text-center container pt-5 ">
    <div class="my-4">
      <h2 class="fw-bolder h2-style">about component</h2>
      <div class="d-flex justify-content-center align-items-center gap-2 my-2">
        <div class="d-inline bg-white rounded-3 line"></div>
        <fa-icon [icon]="faStar"></fa-icon>
        <div class="line d-inline bg-white rounded-3"></div>
      </div>min-vh-100
    </div>
    <div class="row pt-3 g-4">
      <div class="col-md-6">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="col-md-6">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
    </div>
  </div>
</div>
