<div class="footer mt-2">
  <div class="container py-3">
    <div class="row text-center py-5 g-5">
      <div class="col-md-4">
        <div class="">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="">
          <h3>AROUND THE WEB</h3>
          <div class="d-flex gap-2 justify-content-center ">
            <i class="fa-brands fa-facebook icon-style"></i>
            <i class="fa-brands fa-twitter icon-style"></i>
            <i class="fa-brands fa-linkedin-in icon-style"></i>
            <i class="fa-solid fa-globe icon-style"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="">
          <h3>ABOUT FREELANCER</h3>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center footer-end py-3">
  <p class="m-0">Copyright © Your Website 2021</p>
</div>


