<div class="d-flex justify-content-center align-items-center site-bg min-vh-100">
  <div class="text-white text-center ">
    <img alt="main" class="w-100 px-5 " [src]="imgPath">
    <div class="my-4">
      <h2 class="fw-bolder h2-style">start Framework</h2>
      <div class="d-flex justify-content-center align-items-center gap-2 my-2">
        <div class="d-inline bg-white rounded-3 line"></div>
        <fa-icon [icon]="faStar"></fa-icon>
        <div class="line d-inline bg-white rounded-3"></div>
      </div>
    </div>
    <div>
      <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</div>

